html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}
#logo{
    padding-left: 20px;
}
#navigation{
    width: 70%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20px;
}
#nav_list{
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}
#nav_list li{
    margin-left: 20px;
    margin-right: 20px;
}
#nav_list li #non_active {
    color: #030101b0 ;
}
#inscription{
    margin-left: 20px;
    margin-right: 20px;
    color: #0065FC;
}
#nav_list li  #active{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding: 18px;
}
form{
    margin-top: 10px;
}
#localisation{
    margin-left: 20px;
}
#description{
    color: #030101b0 ;
}
input{
    height: 40px;
    border: none;
}
button.recherche{
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: none;
    padding: 10px;
}
label#icon_recherche{

    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    text-align: center;
}
ul{
    margin-block-start: 0;
    list-style-type:none;
    margin-block-end: 0;
}
li{
    margin-right: 20px;
 
}
#filtres{
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
}
#filtre{
    width: 60%;
    display: flex;
    flex-direction: row;
    
}
.style_filter{
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    border-radius: 15% / 50%;
    border: 3px #F2F2F2 solid;
    border-left: 0px;
    margin-top: 2px;
}
.fas{
    line-height:none;
}

.circle-icon {
    background:rgb(222, 235, 255);
    color: #0065FC;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px !important;
    vertical-align: middle;
}
button{
    width: 80%;
    height: 90%;
    background-color: white;
    border: 1px white solid;
    border-radius: 15% / 50%;
}
h4,h2, p{
    margin-block: 5px;
}

#prix-nuit{
    color: #f2f2f279;
}
.image_hotel{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}
#hebergements_populaires{
    height: 40%;
}
#information{
   margin-left: 20px; 
}
#info{
    padding-bottom: 20px;
    padding-top: 20px;
}

.hebergements{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
#container_hebergement{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 60%;
    height: 30%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
.container_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.card_hotel{
    width: 30%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px white solid;
}
.description_hotel{
    margin-left: 10px;
    

}
.prix-nuit{
    color: #030101b0;
}
.star{
    color: #0065FC;
    
}
.star-gris{
    color: #9e9999 ;
}
.container_populaires{
    background-color:#F2F2F2 ;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    margin-left: 15px;
    padding: 20px; 
}
#titre_bloc{
    height: 10%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
#icon_chart_line{
    margin-top: 15px;
}
#container_card_populaires{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.card_populaires{
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    margin-top:20px ;
    border: 3px white solid;
    display: flex;
    flex-direction: row;
}
.image_card_populaires{
    width: 45%;
    height: 140px;
    border-radius: 10px 0 0 10px;
}
.decription_populaires{
    width: 45%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.prix-nuit:nth-child(2){
    flex: 1;
}
#activités{
    height: 40%;
    width: 100%;
    margin: 20px;
}
.container_activités{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
#container_activités_part1, #container_activités_part2{
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_activité_1{
    width: 49%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
}
.image_card_activité_1{
    width: 100%;
    height: 380px;
    border-radius: 10px 10px 0 0;
}
#titre_activié{
    margin-left: 20px;
    color: black;
}
.activité_2{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image_card_activité_2{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.card_activité_2{
    height: 48%;
    width: 98%;
    border-radius: 10px; 
    box-shadow: 5px 5px 5px #F2F2F2;
}
footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction:row ;
    padding-left: 20px;
    
    bottom:0;
    width:100%;
}
.element{
    width: 33%;
    display: flex;
    flex-direction:column ; 
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: #03010162;
}
@media all and (min-width: 768px) and (max-width: 992px){
    .hebergements{
        width: 100%;
        display: flex;
        flex-direction:column-reverse;   
    }
    
    .container_populaires, #container_hebergement{
        width: 95%;
        margin-bottom: 20px;
    }
    #container_card_populaires {
        flex-direction: row;
        justify-content: space-between;
    }
    .card_populaires {
        width: 30%;
    }

}
@media all and (max-width: 767px){
    
    
}