html {
    height: 100%;
  }
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    position: relative;
    font-family: 'Raleway', sans-serif;
  }
p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 5px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}
#logo{
    padding-left: 20px;
    width: 100px;
}
#navigation{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 20px;
    padding-right: 20px;
}
#nav_list{
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}
#nav_list_portable{
    display: none;
}
#nav_list li{
    margin-left: 20px;
    margin-right: 20px;
}
#nav_list li .non_active {
    color: #030101b0 ;
    font-family: 'Raleway', sans-serif;
}
#inscription{
    margin-left: 20px;
    margin-right: 20px;
    color: #0065FC;
}
#nav_list li  .active{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding: 18px;
    font-family: 'Raleway', sans-serif;
}
form{
    margin-top: 10px;
}
#localisation{
    margin-left: 20px;
}
#description{
    color: #030101b0 ;
}
input{
    width: 200px;
    height: 40px;
    border: none;
}
button.recherche{
    width: 100px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    border: none;
    padding: 10px;
}
label#icon_recherche{
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    text-align: center;
}
label#icon_recherche i{
    width: 30px;
}
.search{
    display: none;
}
ul{
    margin-block-start: 0;
    list-style-type:none;
    margin-block-end: 0;
}
li{
    margin-right: 20px;
 
}
#filtres{
    
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
}
#filtres p{
    padding-top: 15px;
}
#filtre{
    width: 60%;
    display: flex;
    flex-direction: row;
    
}
.style_filter{
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    border-radius: 15% / 50%;
    border: 3px #F2F2F2 solid;
    border-left: 0px;
    margin-top: 2px;
}

.fa-2x {
    font-size: 1.2em;
}
.icon-background {
    color: transparent;
    border: 3px #e0e0e0 solid;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
.fa-in-cir{
    color: #0065FC;
    font-size: 16px;
    margin-left: 3px;
}
.fa-stack {
    display: inline-block;
    height: 1em;
    line-height: 1.1em;
    position: relative;
    vertical-align: middle;
    width: 1em;
    margin-right: 20px;
    margin-bottom: 10px;
}
.circle-icon {
    background:rgb(222, 235, 255);
    color: #0065FC;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px !important;
    vertical-align: middle;
}
button{
    width: 80%;
    height: 90%;
    background-color: transparent;
    border: none;
    border-radius: 15% / 50%;
    font-family: 'Raleway', sans-serif;
}
.style_filter:hover{
    background-color: rgb(222, 235, 255);
    border: 3px rgb(222, 235, 255) solid;
}
.style_filter button:hover{
    color: #0065FC;
}


h1, h3, h4, h2{
    margin-block: 5px;
    font-family: 'Raleway', sans-serif;
}

#prix-nuit{
    color: #f2f2f279;
}
.image_hotel{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}
#hebergements_populaires{
    height: 40%;
}
#information{
   margin-left: 20px; 
}
#info{
    padding-bottom: 20px;
    padding-top: 20px;
}

.hebergements{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
#container_hebergement{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 60%;
    height: 30%;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
.container_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.card_hotel{
    width: 30%;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px white solid;
}
.description_hotel{
    margin-left: 10px;
    

}
.prix-nuit{
    color: #030101b0;
}
.star{
    color: #0065FC;
    
}
.star-gris{
    color: #9e9999 ;
}
.container_populaires{
    background-color:#F2F2F2 ;
    border-radius: 10px;
    width: 35%;
    height: 30%;
    margin-left: 15px;
    margin-right: 30px;
}
#titre_bloc{
    height: 10%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#icon_chart_line{
    margin-top: 10px;
    font-size: 20px;
    margin-right: 20px;
}
#container_card_populaires{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.card_populaires{
    width: 90%;
    height: 151px;
    background-color: white;
    border-radius: 10px;
    border: 3.5px white solid;
    display: flex;
    flex-direction: row;  
    margin: 0 auto 20px auto;
}
.image_card_populaires{
    width: 45%;
    height: 151px;
    border-radius: 10px 0 0 10px;
}
.decription_populaires{
    width: 45%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.card_populaires .decription_populaires p.prix-nuit:nth-child(2){
    flex: 1;
}
#activités{
    height: 40%;
    width: 95%;
    padding: 20px 0 20px 20px;
}
.container_activités{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
#container_activités_part1, #container_activités_part2{
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_activité_1{
    width: 49%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #F2F2F2;
}
.image_card_activité_1{
    width: 100%;
    height: 380px;
    border-radius: 10px 10px 0 0;
}
.titre_activié{
    margin-left: 20px;
    color: black;
}
.activité_2{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image_card_activité_2{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.card_activité_2{
    height: 48%;
    width: 98%;
    border-radius: 10px; 
    box-shadow: 5px 5px 5px #F2F2F2;
}
footer{
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
    display: flex;
    flex-direction:row ;
    padding-top: 30px;
    bottom:0;
    width:100%;
}
.element{
    width: 33%;
    display: flex;
    flex-direction:column ; 
    padding-bottom: 20px;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: #03010162;
}
@media all and (min-width: 768px) and (max-width: 992px){

    .hebergements{
        width: 100%;
        display: flex;
        flex-direction:column-reverse;
    }

    .container_populaires, #container_hebergement{
        width: 90%;
        margin-bottom: 20px;
        padding: 20px;
    }
    #container_card_populaires {
        flex-direction: row;
        justify-content: space-between;
    }
    .card_populaires {
        width: 30%;
        flex-direction: row;
        justify-content: space-between
    }
    #activités{
        width: 95%;
        margin-right: 0px;
        padding: 20px;
    }

}
@media all and (max-device-width: 767px){
    header{
       width: 100%;
       font-family: 'Raleway', sans-serif;
    }
    body{
        font-family: 'Raleway', sans-serif;   
    }
    button{
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }
    h4, h2, h3{
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
    }
    p{
        font-size: 34px;
        font-family: 'Raleway', sans-serif;
    }
    #logo{
        width: 40%;
        padding: 30px;
    }
    #navigation{
        width: 60%;
        margin: auto 0 70px 0;
        text-align: end;
    }
    #inscription{
        font-size: 40px;
        width: 100%;
        padding: 40px 40px 0 40px;
        margin: auto;
    }
    #nav_list{
        display: none;
    }
    #nav_list_portable{
        display: block;
        width: 100%;
        
    }
    #nav_list_portable ul{
        display: flex;
        justify-content: center;
        padding-inline-start: 0;
    }
    #nav_list_portable ul li{
        width: 50%;
        font-size: 35px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    #nav_list_portable ul .active a {
        width: 100%;
        color: #0065FC ;
        margin-left: 30%;
        font-family: 'Raleway', sans-serif;
    }
    #nav_list_portable ul .non_active a {
        width: 100%;
        color: #030101b0 ;
        margin-left: 30%;
        font-family: 'Raleway', sans-serif;
    }
    .active{
        border-bottom: 2px #0065FC solid;
        padding: 18px;  
    }
    .non_active {
        border-bottom: 2px #a7a7a7bd solid;
        padding: 18px;  
    }
    #localisation {
        margin-left: 55px;
    }
    #localisation h2{
        font-size: 50px;
        padding: 30px 0;
    }
    #description{
        padding-bottom: 20px;
    }
    form{
        width: 100%;
        height: 100px;
    }
    label#icon_recherche {
        height: 100px;
        padding: 40px;
        border-radius: 40px 0 0 40px;
    }
    label#icon_recherche i {
        width: 30px;
        font-size: 35px;
    }
    input{
        height: 100px;
        width: 50%;
        font-size: 35px;
    }
    .recherche strong{
        display: none;
    }
    .search{
        display: block;
    }

    #filtres{
        flex-direction: column;
        width: 90%;
        height: auto;
        padding-bottom: 20px;
        padding-left: 0px !important;
    }
    button{
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }
    #filtre{
        flex-wrap: wrap;
        width: 100%;
    }
    #filtres p{
        margin-left: 40px;
    }
    .style_filter{
        height: 100px;
        margin-top: 20px;
        border: 5px #F2F2F2 solid;

    }
    .style_filter:hover{
        background-color: rgb(222, 235, 255);
        border: 3px rgb(222, 235, 255) solid;
    }
    #filtre li{
        margin-right: 60px;
    }
    .circle-icon{
        width: 102px;
        height: 102px;
        line-height: 100px !important;
        font-size: 35px;
    }
    #information {
        margin-bottom: 50px;
        margin-left: 50px;
    }
    #info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fa-info-circle:before {
        font-size: 50px;
        margin-right: 30px;
    }
    .icon-background {
        color: white;
        border: 5px #e0e0e0 solid;
        border-radius: 50%;
        width:1em;
        height: 1em;
    }
    .fa-in-cir{
        color: #0065FC;
        font-size: 35px;
        margin-left: 5px;
    }
    .fa-stack {
        display: inline-block;
        height: 2em;
        line-height: 1.1em !important;
        position: relative;
        vertical-align: middle;
        width: 1em !important;
        margin-right: 50px;
    }
    #container_card_populaires, .container_activités,#container_activités_part1, #container_activités_part2{
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
    }
    .container_populaires, #container_hebergement {
        width: 100%;
        margin-left: 0px;
        padding: 0 0 50px 0;
    }
    #titre_bloc{
        margin-left: 100px;
    }
    .card_populaires {
        width: 80%;
        height: 280px;
        margin:20px auto auto auto;
        border: 7px white solid;
        border-radius: 30px;
        box-shadow: 10px 10px 10px #dfdcdcf5;
        justify-content: start;

    }
    .decription_populaires {
        width: 45%;
        margin-left: 0px;
    }
    .image_card_populaires{
        height: 280px;
        margin-right: 30px;
        border-radius: 30px 0 0 30px;
    }
    #icon_chart_line {
        margin-top: 10px;
        font-size: 30px;
        margin-right: 100px;
    }
    #container_hebergement {
        width: 100%;
        margin-left: 0px;
        background-color: white;
    }
    #hébergements, #activités h2{
        margin-left: 100px;
    }
    .container_cards {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .card_hotel, .card_activité_1, .card_activité_2{
        width: 80%;
        height: 400px;
        margin:20px auto auto auto;
        border: 7px white solid;
        border-radius: 30px;
        box-shadow: 10px 10px 10px #ebe9e9f5;
    }
    .image_hotel {
        border-radius: 30px 30px 0 0;
      
    }
    .description_hotel {
        margin-left: 50px;
    }
    #container_hebergement p strong{
        margin-left: 100px;
    }
    #activités {
        width: 100%;
        margin-right: 0px;
        padding: 0px 0px 80px 0px;
    }
    .activité_2{
        width: 100%;
    }
    .image_card_activité_1, .image_card_activité_2  {
        border-radius: 30px 30px 0 0;
        height: 280px;
    }
    .titre_activié {
        margin-top: revert;
    }
    footer {
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
    }
    .element{
        width: 80%;
        margin: 30px auto 30px auto;
    }
    .element h4{
        padding-bottom: 30px;
    }
    .element a{
        font-size: 40px;
    }
    
}